<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title><span th:text="${error}"></span></title>
</head>
<body>
<h2><span id="errorMessage" th:text="${message}"></span></h2>
</body>
</html>