<html xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css"/>
    <!-- Compiled and minified JavaScript -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <style>
        #logo-div {
            text-align: center;
        }
        #logo-div img {
            max-width: 300px;
        }
    </style>

</head>
<body>

<div>
    <h3 th:text="${errorMessage}" style="color: red"></h3>
    <form method="POST" enctype="multipart/form-data" action="/login">
        <table>
            <div class="row">
                <div class="col s12">
                    <div class="row">
                        <div id="logo-div" class="input-field col s12">
                            <img src="images/Serevice-Logo.png" alt="Please login with your Serevice credentials" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s1"></div>
                        <div class="input-field col s10">
                            <input id="user" type="email" name="user" class="validate"/>
                            <label for="user">Email</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s1"></div>
                        <div class="input-field col s10">
                            <input id="password" type="password" name="pass" class="validate"/>
                            <label for="password">Password</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s1"></div>
                        <div class="input-field col s10">
                            <button class="btn waves-effect waves-light" type="submit" name="action">Sign In</button>
                        </div>
                    </div>
                </div>
            </div>
        </table>
        <input type="hidden" name="redirectUri" th:value="${redirectUri}"/>
        <input type="hidden" name="from" th:value="${from}"/>
        <input type="hidden" name="state" th:value="${state}"/>
        <input type="hidden" name="scope" th:value="${scope}"/>
        <input type="hidden" name="response_type" th:value="${response_type}"/>
    </form>
</div>

</body>
</html>